*{
  font-family: 'Noto Serif JP';
  margin: 0;
  padding: 0;
}

header{
  background-color: #FFF6F5;
}

nav{
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

nav ul{
  display: flex;
}

nav li{
  list-style: none;
}

nav a{
  font-size: 20px;
  color: #44160D;
  text-decoration: none;
  padding: 0 50px;
}


/* 1つめのセクション */
.firstview{
  background-color: #CDB0BB;
  display: block;
  text-align: center;
  height: 630px;
  /* position: relative; */
}

.firstview-logo{
  position: relative;
}

.firstview-logo img{
  width: 600px;
  padding-top: 30px;
}

.firstview-logo p{
  color: #FFF6F5;
  font-size: 48px;
  font-family: 'Pinyon Script', cursive;
  margin-top: -70px;
  margin-left: 60px;
}

.firstview h1{
  font-size: 32px;
  color: #FFF6F5;
  padding: 0 0 75px;
}

.firstview-box{
  background-color: #FFF6F5;
  display: block;
  padding: 10px;
  height: 150px;
  width: 794px;
  margin: auto;
}

.firstview-box h2{
  font-size: 24px;
  color: #C10943;
  text-align: center;
}

.firstview-box p{
  font-size: 16px;
  color: #44160D;
  text-align: center;
}

.sp{
  display: none;
}

/* 2つめのセクション */
.basic{
  background-color: #FFF6F5;
  height: 650px;
}

.basic h2{
  font-size: 24px;
  color: #44160D;
  text-align: center;
  padding-top: 80px;
  padding-bottom: 30px;
}

.basic-box{
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:12px;
}

.basic-img-wrapper{
  position: relative;
  width: 240px;

}

.basic-img-left{
  width: 100%;
}

.basic-p-left{
  font-size: 24px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.basic-boxes{
  display: flex;
  align-items: start;
  justify-content: center;
}

.frame{
  position: relative;
  display: inline-block;
  width: 490px;
}

.frame-width{
  background-color: #986E66;
  border-radius: 10px;
  height: 10px;
  width: 60px;
  position: absolute;
}

.frame-height{
  background-color: #986E66;
  border-radius: 10px;
  height: 60px;
  width: 10px;
  position: absolute;
}

.frame p{
  font-size: 16px;
  color: #44160D;
  padding: 30px 50px;
}

.frame-height.bottom{
  right: 0;
  bottom: 0;
}

.frame-width.bottom{
  right: 0;
  bottom: 0;
}

.basic-cross{
  padding-top: 70px;
}


/* 3つめのセクション */
.work{
  background: #CDB0BB;
  height: 750px;
  padding: 100px 0;
}

.work h2{
  font-size: 24px;
  color: #FFF6F5;
  text-align: center;
  padding-top: 30px;
}

.slider-box h3{
  color: #44160D;
  font-size: 20px;
  text-align: center;
}

.slider-box p{
  color: #44160D;
  font-size: 16px;
  text-align: center;
}

.slider-box{
  background-color: #FFF6F5;
  width: 300px;
  height: 240px;
  display: flex !important;
  flex-direction: column;
  justify-content: center;
}

/* 1つめのスライダー */
.slider{
  display: flex;
  padding-top: 105px;
  padding-bottom: 100px;
  width: 960px;
  margin: auto;
}


.slider .slick-slide {
  transform: scale(0.8);
  transition: all .5s;
}

.slider .slick-slide.slick-center{
  transform: scale(1);
}

/* 2つめのスライダー */
.slider2{
  display: flex;
  padding-bottom: 140px;
  width: 960px;
  margin: auto;
}

.slider2 .slick-slide {
  transform: scale(0.8);
  transition: all .5s;
}

.slider2 .slick-slide.slick-center{
  transform: scale(1);
}


/* 4つ目のセクション */
.theory{
  position: relative;
  background-image: url(image/Group\ 141.png);
  padding-top: 100px
}

.theory h2{
  position: absolute;
  left: 50%;
  transform:translateX(-50%);
  font-size: 24px;
  color: #44160D;
}

.theory-subtitle{
  text-align: center;
  color: #C10943;
  font-size: 20px;
  font-weight: bold;
}

/* 腹式呼吸 */
.breathing{
  position: relative;
  padding-top: 150px;
}

.breathing-box{
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 150px;
}

.breathing-text{
  margin-left: 80px;
}

.breathing-text-top{
  color: #44160D;
  font-size: 16px;
  margin-left: 20px;
}

.breathing-text-bottom{
  display: flex;
  margin-left: 45px;
  margin-top: 50px;
  margin-bottom: 25px;
}

.breathing-text-title{
  color: #44160D;
  font-size: 18px;
  text-decoration: underline;
  text-align: center;
}

.breathing-text-text{
  color: #44160D;
  font-size: 16px;
  text-align: center;
}

.breathing-text-left{
  display: block;
  padding-right: 110px;
}

.breathing-text-right{
  display: block;
}

.breathing-text-merit{
  background-color: #FFF6F5;
  padding: 20px;
  border-radius: 20px;
  border:1px solid #44160D;
}

.breathing-text-merit-top{
  display: flex;
  justify-content: center;
}

.breathing-text-merit-title{
  color: #44160D;
  font-size: 18px;
}

.breathing-text-merit-color{
  color: #C10943;
  font-size: 18px;
  text-decoration: underline;
}

.breathing-text-merit-text{
  color: #44160D;
  font-size: 16px;
}

/* 鼻濁音 */
.voise{
  position: relative;
}

.voise-img1{
  width: 110px;
  position: absolute;
  left: 50%;
  top: 0;
  transform: rotate(13deg) translate(-400%);
}

.voise-text-top{
  color: #44160D;
  font-size: 16px;
  text-align: center;
  margin: 40px 0 40px;
}

.voise-boxes{
  max-width: 700px;
  width: 100%;
  margin: auto;
  margin-bottom: 150px;
}

.voise-box{
  display: flex;
  margin-bottom: 35px;
}

.voise-box img{
  height: 40px;
  width: 50px;
  margin-right: 20px;
}

.voise-box p{
  margin-left: 15px;
  color: #44160D;
  font-size: 16px;
}

.voise-img2{
  width: 120px;
  position: absolute;
  margin-top: 550px;
  left: 50%;
  top: 0;
  transform: rotate(10deg) translate(400%);
}

/* アクセント */
.accent{
  position: relative;
}

.accent-text-top{
  color: #44160D;
  font-size: 16px;
  text-align: center;
  margin: 40px 0 40px;
}

.accent-boxes{
  text-align: center;
}

.accent-box{
  display: inline-block;
  text-align: center;
  padding: 40px;
  width: 500px;
}

.accent-box h3{
  color: #44160D;
  font-size: 20px;
  text-decoration: underline;
  margin-bottom: 20px;
}

.accent-texts{
  display: flex;
}

.accent-text{
  color: #44160D;
  font-size: 15px;
  padding: 5px;
  width: 370px;
}

.accent-text-color{
  color: #C10943;
  font-size: 20px;
  text-align: right;
  width: 190px;
}

.accent-box-down{
  display: inline-block;
  text-align: center;
  padding: 40px;
  width: 500px;
}

.accent-box-down h3{
  color: #44160D;
  font-size: 20px;
  text-decoration: underline;
  margin-bottom: 20px;
}

.accent-bottom{
  background-color: #FFF6F5;
  border-radius: 20px;
  border:1px solid #44160D;
  width: 560px;
  height: 230px;
  margin-top: 20px;
  margin-bottom: 150px;
  margin: 0 auto;
}

.accent-title{
  padding-top: 20px;
  padding-bottom: 20px;
}

.accent-bottom p{
  color: #44160D;
  font-size: 16px;
  text-align: center;
}

.accent-bottom-box{
  display: flex;
  margin: 20px 0 20px;
  margin-left: 10px;
}

.accent-bottom-box img{
  width: 40px;
  height: 30px;
  margin-right: 20px;
}

.accent-img{
  width: 110px;
  position: absolute;
  margin-top: 650px;
  left: 50%;
  top: 0;
  transform: rotate(-5deg) translate(-400%);
}


/* 5つ目のセクション */
.uirouuri{
  background-color: #FFF;
  height: 1320px;
}

.uirouuri h2{
  font-size: 24px;
  color: #44160D;
  text-align: center;
  padding-top: 80px;
  margin-bottom: 90px;
}

.uirouuri-text{
  background-color: #FFF6F5;
  width: 890px;
  height: 670px;
  border:1px solid #44160D;
  box-shadow: 20px 20px #E9A3B7;
  margin: auto;
}

.uirouuri-text-p{
  font-size: 24px;
  color: #44160D;
  line-height: 2em;
  padding-top: 60px;
  padding-left: 40px;
}

rt{
  font-size: 13px;
}

.uirouuri-audio p{
  color: #44160D;
  font-size: 16px;
}

.uirouuri-audio-top{
  padding-top: 130px;
}

.uirouuri-audio-bottom{
  padding-top: 80px;
}

/* フッター */
footer{
  background-color: #CDB0BB;
  height: 405px;
  text-align: center;
  position: relative;
}

footer h2{
  font-size: 24px;
  color: #FFF6F5;
  padding-top: 100px;
}

.footer-logo img{
  width: 550px;
  padding-top: 30px;
}

.footer-logo p{
  color: #FFF6F5;
  font-size: 46px;
  font-family: 'Pinyon Script', cursive;
  margin-top: -70px;
  margin-left: 60px;
}

#back-top a{
  position: fixed;
  right:70px;
  bottom:30px;
  transition: 1s;
}

#back-top a:hover{ 
  opacity: 0.75;
}

#back-top img{
  width: 75px;
  height: auto;
}

@media screen and (max-width: 1100px){
.accent-box{
  display: block;
}

.accent-box-down{
  display: block;
}

.accent-texts{
  display: block;
}

.accent-text-color{
  text-align: right;
}

.accent-boxes{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.accent-texts{
  display: flex;
}

}

@media screen and (max-width: 500px){

header{
  display: none;
}


/* 1つ目のセクション */
.firstview-logo img{
  width: 300px;
}

.firstview-logo p{
  font-size: 24px;
  margin-top: -40px;
  margin-left: 30px;
}

.firstview h1{
  font-size: 18px;
  padding: 100px 0 75px;
}

.firstview-box{
  height: 235px;
  width: 365px;
}

.firstview-box h2{
  font-size: 20px;
}

.firstview-box p{
  font-size: 14px;
}

.sp{
  display: block;
}


/* 2つ目のセクション */
.basic{
  height: 1250px;
}

.basic h2{
  font-size: 20px;
}

.basic-boxes{
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.basic-cross{
  margin-bottom: 50px;
}


/* 3つ目のセクション */

.breathing-box{
  flex-direction: column-reverse;
  align-items: center;
  gap: 30px;
}

.breathing-text{
  margin-left: 0;
}

.voise-boxes{
  max-width: 430px;
}

.accent-bottom{
  width: 350px;
  height: 290px;
}

.voise-img1{
  width: 80px;
  margin-top: -20px;
  transform: rotate(13deg) translate(-250%);
}

.voise-img2{
  width: 80px;
  margin-top: 800px;
  transform: rotate(10deg) translate(150%);
}

.accent-img{
  width: 80px;
  margin-top: 1150px;
  transform: rotate(-5deg) translate(-290%);
}

#back-top a{
  right:530px;
  bottom:30px;
}


}